@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

/* h1,
h2,
h3 {
  font-family: "Edu NSW ACT Cursive", cursive, sans-serif;
} */

/* Initially hide and offset the sub-content */
.relative.z-10 > p,
.relative.z-10 > a,
.absolute.text-right > p {
  opacity: 0;
  transform: translateY(20px);
}
/* In globals.css */

/* Set the default poster (background) for the video element */
video[poster] {
  object-fit: cover; /* Ensures the poster image covers the element */
  background-image: url("/poster-sm.png");
  background-size: cover;
  background-position: center;
}

/* On larger screens, switch to the large poster */
@media (min-width: 1024px) {
  video[poster] {
    background-image: url("/poster-lg.png");
  }
}

.will-change-transform-filter {
  will-change: transform, filter;
}
